.articleSummary {
  text-align: justify;
  padding: 0 5px;
}

.articleHeader {
  display: inline-flex;
  width: 100%;
  font-weight: 600;
  font-size: 101%;
  margin-bottom: 5px;
}

.fa-thumbtack {
  font-size: 20px;
  margin-top: 5px;
  margin-left: -10px;
  margin-right: 8px;
}

.articleIcons i {
  float: right;
  font-size: 17px;
  margin-bottom: 8px;
  margin-right: -10px;
}
