<div id="sidebar">
  <ul class="navbar-nav flex-grow selectable-items">
    <li *ngFor="let itemType of itemTypes;"
        class="nav-item selectable-item">

      <a class="nav-link text-dark"
          [routerLink]="['/', itemType.type]"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: false }"
          >{{itemType.name}}</a>
                      <!--data-type="{{itemType.type}}"
        data-source="{{itemType.source}}"
        data-defaultId="{{itemType.defaultId}}"
        data-selected="{{itemType.selected}}"-->

    </li>
  </ul>
</div>
