<div id="contactOptions" class="hideMobile" style="text-align:center; z-index:1; position: fixed;bottom: 20px;right: 15px;font-size: 30px;width: 48px;">
  <span>
    <span style="cursor:pointer;">
      <span data-target="https://www.linkedin.com/in/michael-aj-kennedy/" data-sociallink="LinkedIn" class="socialLink fab fa-linkedin"></span>
    </span>
  </span>

  <span>
    <span style="cursor:pointer;">
      <span data-target="https://twitter.com/MikeKennedyDev" data-sociallink="Twitter" class="socialLink fab fa-twitter"></span>
    </span>
  </span>

  <span>
    <span style="cursor:pointer;">
      <span data-target="https://github.com/michael-aj-kennedy" data-sociallink="GitHub" class="socialLink fab fa-github"></span>
    </span>
  </span>

  <span>
    <span style="cursor:pointer;">
      <span data-target="https://medium.com/@MikeKennedyDev" data-sociallink="Dev.To" class="socialLink fab fa-medium"></span>
    </span>
  </span>

  <span>
    <span style="cursor:pointer;">
      <span data-target="https://dev.to/mikekennedydev" data-sociallink="Medium" class="socialLink fab fa-dev"></span>
    </span>
  </span>

  <span class="emailIcon" style="font-size:27px;cursor:pointer;">
    <span style="">
      <span data-target="mailto:email@mikekennedy.co.uk" data-sociallink="Email" class="socialLink far fa-envelope"></span>
    </span>
  </span>
</div>
